<div class="card p-4 shadow-sm">

  <h2 class="mb-4">
    Add Expense
  </h2>

  <form
    #expenseForm="ngForm"
    (ngSubmit)="onSubmit(expenseForm)">

    <div class="mb-3">

      <label class="form-label">
        Property
      </label>

      <select
        class="form-select"
        required
        name="propertyId"
        [(ngModel)]="expense.propertyId">

        <option value="">
          Select Property
        </option>

        <option
          *ngFor="
            let property of properties
          "
          [value]="property.id">

          {{ property.name }}

        </option>

      </select>

    </div>

    <div class="mb-3">

      <label class="form-label">
        Expense Type
      </label>

      <select
        class="form-select"
        required
        name="type"
        [(ngModel)]="expense.type">

        <option value="">
          Select Type
        </option>

        <option
          *ngFor="
            let type of expenseTypes
          "
          [value]="type">

          {{ type }}

        </option>

      </select>

    </div>

    <div class="mb-3">

      <label class="form-label">
        Description
      </label>

      <textarea
        class="form-control"
        rows="3"
        required
        name="description"
        [(ngModel)]="expense.description">
      </textarea>

    </div>

    <div class="mb-3">

      <label class="form-label">
        Amount
      </label>

      <input
        type="number"
        class="form-control"
        required
        min="1"
        name="amount"
        [(ngModel)]="expense.amount">

    </div>

    <div class="mb-3">

      <label class="form-label">
        Date
      </label>

      <input
        type="date"
        class="form-control"
        required
        name="date"
        [(ngModel)]="expense.date">

    </div>

    <button
      class="btn btn-dark"
      type="submit"
      [disabled]="expenseForm.invalid">

      Save Expense

    </button>

    <p
      class="text-danger mt-3"
      *ngIf="errorMessage">

      {{ errorMessage }}

    </p>

  </form>

</div>